.header {
    width: calc(100% - var(--width-sidebar));
    padding: 0 30px;
    position: fixed;
    top:0;
    left: var(--width-sidebar);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: var(--zindex-navbar);
}

/* header left */
.header-left {
    margin-right: 10px;
    flex-grow: 1;

}



.header-left .search {
    max-width: 540px;
    border-radius: 20px;
    background-color: var(--opacity-bg);
    height: 40px;
    color: var(--white);
}
.header-left .search.is-collapse{
    border-radius: 20px 20px 0 0;
    background-color: var(--purple-bg-suggest);
}

.header-left .search  span {
    font-size: 24px;
}

.header-left .search input {
    background-color: var(--opacity-bg-09);
    color: var(--white);
}

.header-left .search, .search.ant-input-affix-wrapper:focus, .search.ant-input-affix-wrapper:hover{
    border-right: 0 !important;
    border: 0;
    outline: none;
    box-shadow: none;
}

/* header right */

.header-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.header-right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    color: var(--white);
}
.header-right ul li {
    margin-left: 10px;
}

.header-right ul li:hover {
    filter: brightness(0.9);
}

.btn-login.login {
    margin-top:0;
    background-color: var(--pink-primary);
    color: var(--white);
    border: 0;
}

.btn-circle, .btn-circle.avt-img img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--opacity-bg);
    border-radius: 999px;
    border: 0;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    color: var(--white);
}

/* scroll view */
.header.is-sticky {
    background-color: var(--purple-bg);
    box-shadow: 0 3px 5px var(--opacity-bg-01);
}

.search-suggest_list {
    list-style: none;
    position: absolute;
    max-width: 540px;
    width: 100%;
    height: auto;
    min-height: 0;
    max-height: 601px;
    background-color: var(--purple-bg-suggest);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 13px 10px;
    color: var(--white);
    z-index: var(--zindex-suggest-search);
}

.search-suggest_list .search-sugest_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.search-suggest_list .search-sugest_item:hover {
    background-color: var(--purple-bg-suggest-hover);
}

.search-suggest_list .search-sugest_item svg {
    margin-right: 10px;
}

@media screen and (max-width: 1020px) { 
    .header {
      width: calc(100% - 70px);
      left: 70px;
    }
  
}

@media screen and (max-width: 620px) { 
    .header-right {
        display: none;
    }
}