@import '~antd/dist/antd.css';

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
:root {
    /* color varible*/
    --width-bottom: 0px;
    --height-bottom: 0px;
    --pink-primary: #ed2b91;
    --pink-text: #fe63da;
    --white: #fff;
    --white-bold: #dadada;
    --purple-bg: #37075d;
    --purple-primary: #411565;
    --purple-hover: #542e75;
    --purple-bg-suggest: #6a39af;
    --purple-bg-suggest-hover: #926ec4;
    --border: #ffffff0d;

    --opacity-bg: #ffffff1a;
    --opacity-bg-00: #00000000;
    --opacity-bg-09: #ffffff00;
    --opacity-bg-08: #ffffffcc;
    --opacity-bg-07: #ffffff12;
    --opacity-bg-50: #00000080;
    --opacity-bg-01: #0000001a;
    --opacity-bg-03: #ffffff4d;
    --opacity-bg-02: #ffffff33;
    --loading-bg: #ffffff1a;
    /* size varible */
    --width-sidebar: 256px;
    /* z-index varible */
    --zindex-chart-tooltip: 5;
    --zindex-chart: 0;
    --zindex-playlist: 2;
    --zindex-home-bg: -1;
    --zindex-navbar: 5;
    --zindex-player: 10;
    --zindex-sidebar: 10;
    --zindex-suggest-search: 5;
    /* display glocal scroll bar */
  }
  

.main-layout {
    width: calc(100% - 256px);
}

body .react-loading-skeleton {
  background-color: var(--loading-bg);
  background-image: linear-gradient(90deg,transparent,var(--loading-bg),transparent)
}
.overlay-loading {
  position: fixed;
  z-index: 19;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);

}

/* Custom scrollbar*/
::-webkit-scrollbar-track {
  background-color: var(--purple-primary);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--opacity-bg-03);
  border-radius: 2px;
}

@media screen and (max-width: 1020px) { 
  .main-layout {
    width: calc(100% - 70px);
  }

}
