.search-page_container {
    padding-top: 90px;
    padding-bottom: 100px;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.search-page_container .search-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid var(--border);
}
.search-page_container .search-nav .search-badge-count {
    margin-left: 5px;
}

.ant-badge-count{
    font-size: 10px;
    background-color: var(--loading-bg);
    box-shadow: 0 0 0 1px var(--loading-bg);
}
.search-nav ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
    background-color: unset;
    color: var(--white);
    font-size: 14px;
    border: none;
}

.search-nav ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal li.ant-menu-item {
    margin: 0 20px;
}

.search-nav ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal li.ant-menu-item:hover,
.search-nav ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal li.ant-menu-item.ant-menu-item-selected {
    color: var(--white) !important;
    border-color: var(--pink-primary);
}

.search-page_container .top-result {
    margin-top: 30px;
}

.search-page_container .search-nav .title {
    font-size: 24px;
    padding-right: 20px;
    border-right: 1px solid var(--border);
}
.search-song-list {
    width: 400px;
    border-radius: 6px;
    background-color: var(--loading-bg);
}
.search-song-list .song-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 15px;
}

.search-song-list .song-item .song-left {
    width: 80px;
    height: 80px;
}

.search-song-list .song-item .song-left img {
    border-radius: 4px;
}

.search-song-list .song-item .song-right .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;

}

.search-song-list .song-item .song-right .subtitle {
    font-size: 12px;
    margin-top: 3px;
    color: var(--opacity-bg-08);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
}

.search-page_container .result-song {
    margin-top: 60px;
}